<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
             Login
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                      <%= form_tag(:action => :access) do %>
                        <div class="form-group">
                            <%#= label :login %>
                            <%= text_field_tag :login, nil, :class => "form-control" %>
                            <p class="help-block">Enter the your login.</p>
                        </div>
                        <div class="form-group">
                            <%#= label :password %>
                            <%= password_field_tag :password, nil, :class => "form-control" %>
                            <p class="help-block">Enter the your password.</p>
                        </div>

                        <%= submit_tag "Login", :class => "btn btn-default", :disable_with => "Please wait..." %>
                      <% end %>
                  </div>
                  <!-- /.col-lg-12 (nested) -->
              </div>
              <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>