<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Groups &nbsp; &nbsp; &nbsp;<%= link_to "Add New Group", {:action => :new}, :class => 'btn btn-xs btn-primary' %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of Users</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @groups.each do |group| %>
                            <tr class="gradeU">
                                <td><%= group.name %></td>
                                <td><%= link_to group.users.size, {:controller => :users, :group_id => group.id} %></td>
                                <td class="text-center">
                                  <%#= link_to("show", {:action => :show, :id => group.id}, :class => 'btn btn-xs btn-info') %>
                                  <%= link_to("edit", {:action => :edit, :id => group.id}, :class => 'btn btn-xs btn-default') %>
                                  <%= link_to("delete", {:action => :delete, :id => group.id}, :class => 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
                                </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
