<div class="form-group">
  <%= field.label :group_id, "Group"  %>
  <%= field.select :group_id, @groups.map{|g| [g.name, g.id]}, :class => "form-control" %>
  <p class="help-block">Select the group</p>
</div>
<div class="form-group">
  <%= field.label :login %>
  <%= field.text_field :login, :class => "form-control" %>
  <p class="help-block">Enter the user login</p>
</div>
<div class="form-group">
  <%= field.label :name %>
  <%= field.text_field :name, :class => "form-control" %>
  <p class="help-block">Enter the user name</p>
</div>
<div class="form-group">
  <%= field.label :surname %>
  <%= field.text_field :surname, :class => "form-control" %>
  <p class="help-block">Enter the user surnname</p>
</div>
<div class="form-group">
  <%= field.label :email %>
  <%= field.text_field :email, :class => "form-control" %>
  <p class="help-block">Enter the user email address</p>
</div>
<div class="form-group">
  <%= field.label :password %>
  <%= field.password_field :password, :class => "form-control" %>
  <p class="help-block">Enter the user password</p>
</div>
<div class="form-group">
  <%= field.label :password_confirmation %>
  <%= field.password_field :password_confirmation, :class => "form-control" %>
  <p class="help-block">Enter the user password confirmation</p>
</div>