<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Edit User: '<%= @user.name %>'
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                      <%= form_for :user, :url => {:action => :update, :id => @user.id} do |field| %>
                        <%= render :partial => 'form_new', :locals => {:field => field} %>
                        <%= submit_tag "Update", :class => "btn btn-default", :disable_with => "Please wait..." %>
                      <% end %>
                  </div>
                  <!-- /.col-lg-12 (nested) -->
              </div>
              <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>