<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Users &nbsp; &nbsp; &nbsp;<%= link_to "Add New User", {:action => :new}, :class => 'btn btn-xs btn-primary' %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Surname</th>
                                <th>Name</th>
                                <th>Login</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Groups</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @users.each do |user| %>
                            <tr class="gradeU">
                                <td><%= user.surname %></td>
                                <td><%= user.name %> </td>
                                <td><%= user.login %></td>
                                <td><%= user.email %></td>
                                <td><%= user.role %></td>
                                <td><%= user.group.name %></td>
                                <td><%= user.created_at %></td>
                                <td><%= user.updated_at %></td>
                                <td class="text-center">
                                  <%= link_to("edit", {:action => :edit, :id => user.id}, :class => 'btn btn-xs btn-default') %>
                                  <%= link_to("delete", {:action => :delete, :id => user.id}, :class => 'btn btn-xs btn-danger', data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>
                                </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
