<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
             <%= link_to "Reload projects", {:action => :run}, :class => 'btn btn-default btn-success' %>
            </div>
            <!-- /.panel-heading -->
            <!-- <div class="panel-body"> -->
                <div class="table-responsive">
                    <!-- <table class="table table-striped"> -->
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Projects: (last update: 2015-02-04)</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% @projects.each do |project| %>
                            <tr>
                                <td><%= link_to project.project_name, :controller => "projects", :action => "index", :project_id => project.id %></td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            <!-- </div> -->
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= link_to "Add new email address", {:controller => :emails, :action => :new}, :class => 'btn btn-default btn-primary' %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Email address</th>
                                <th colspan="2" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @emails.each do |email| %>
                            <tr>
                                <td><%= email.email_address %></td>
                                <!-- <td><%#= link_to email.project_id, {:controller => :projects, :email_id => email.id} %></td> -->
                                <td class="text-center">
                                  <%#= link_to("show", {:action => :show, :id => email.id}, :class => 'btn btn-xs btn-info') %>
                                  <%= link_to("edit", {:controller => :emails, :action => :edit, :id => email.id}, :class => 'btn btn-xs btn-default') %>
                                  <%= link_to("delete", {:controller => :emails, :action => :delete, :id => email.id}, :class => 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete this email: #{email.email_address}?", disable_with: 'loading...' }) %>
                                </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>