// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dataTables-example_filter, #dataTables-example_length{
  display: none;
}
table.dataTable{
  margin-top: 0px !important;
}
#dataTables-example_info{
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 10px;
}
table.dataTable thead .sorting_asc:after{
  content: none !important;
}
#dataTables-example_paginate {
  margin-top: 10px;
  a{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }
}