<div class="form-group">
  <%= field.label :email_address, "Email Address" %>
  <%= field.text_field :email_address, :class => "form-control" %>
  <p class="help-block">Enter the email address</p>
</div>
<div class="form-group">
  <%= field.label :email_receiver_name, "Email Receiver Name" %>
  <%= field.text_field :email_receiver_name, :class => "form-control" %>
  <p class="help-block">Enter the user email receiver_name</p>
</div>
<div class="form-group">
  <%= field.label :project_id, "Project"  %>
  <%= field.select :project_id, @projects.map{|p| [p.project_name, p.id]}, :class => "form-control" %>
  <p class="help-block">Select the project</p>
</div>