<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Emails &nbsp; &nbsp; &nbsp;<%= link_to "Add New Email", {:action => :new}, :class => 'btn btn-xs btn-primary' %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Email Address</th>
                                <th>Email Receiver Name</th>
                                <th>Project Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @emails.each do |email| %>
                            <tr class="gradeU">
                                <td><%= email.email_address %></td>
                                <td><%= email.email_receiver_name %></td>
                                <td><%= email.project.project_name %></td>
                                <!-- <td><%#= link_to email.project_id, {:controller => :projects, :email_id => email.id} %></td> -->
                                <td class="text-center">
                                  <%#= link_to("show", {:action => :show, :id => email.id}, :class => 'btn btn-xs btn-info') %>
                                  <%= link_to("edit", {:action => :edit, :id => email.id}, :class => 'btn btn-xs btn-default') %>
                                  <%= link_to("delete", {:action => :delete, :id => email.id}, :class => 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete this email: #{email.email_address}?", disable_with: 'loading...' }) %>
                                </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
