<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Add New Email
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                      <%= form_for :email, :url => {:action => :create} do |field| %>
                        <%= render :partial => 'form', :locals => {:field => field} %>
                        <%= submit_tag "Save", :class => "btn btn-default", :disable_with => "Please wait..." %>
                        <button type="reset" class="btn btn-default">Reset</button>
                      <% end %>
                  </div>
                  <!-- /.col-lg-12 (nested) -->
              </div>
              <!-- /.row (nested) -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
<!-- /.col-lg-12 -->
</div>